@{
    ViewData["Title"] = "首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">看着后视镜开车</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">

            <ul class="navbar-nav">
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">数据更新</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown02">
                        <a class="dropdown-item" href="javascript:void(0);" onclick="LoadCurrent('/Update/UpdateALL')">全部</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">整体走势</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        @{
                            foreach (var a in ViewBag.CodeDic)
                            {
                                <a class="dropdown-item" href="javascript:void(0);" onclick="LoadCurrent('/SHA/History?Code=@a.Key')">@a.Value</a>
                            }
                        }

                    </div>
                </li>
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">今日点位分析</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown03">
                        <a class="dropdown-item" href="javascript:void(0);" onclick="LoadCurrent('/SHA/AnalysisALL')">全部</a>
                        @{
                            foreach (var a in ViewBag.CodeDic)
                            {
                                <a class="dropdown-item" href="javascript:void(0);" onclick="LoadCurrent('/SHA/Analysis?Code=@a.Key')">@a.Value</a>
                            }
                        }
                    </div>
                </li>
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">按月分组统计</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" href="javascript:void(0);" onclick="LoadCurrent('/SHA/MonthGroup')">上证指数</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">方法测试</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown05">
                        <a class="dropdown-item" href="javascript:void(0);" onclick="LoadCurrent('/TestMethod/Six')"> 20, 250 日均线测试</a>
                        <a class="dropdown-item" href="javascript:void(0);" onclick="LoadCurrent('/TestMethod/Sell')"> 5日均线卖出测试</a>
                        <a class="dropdown-item" href="javascript:void(0);" onclick="LoadCurrent('/TestMethod/BuyLineTest')">均线买入有效性测试</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main" style="padding-top:80px;width:100%;height:100%;" id="main">
    </main>


<script>
    LoadCurrent('/SHA/History')


    function LoadPage(path) {
        window.location.href = path;
        //$("#main").load(path).show();
    }

    function LoadCurrent(path) {
        $("#main").load(path).show();
    }

</script>