@model List<string>
@{
    Layout = null;
}

    <div class="row">
        <div class="col-md-4">
            @foreach (var a in Model)
            {
                <div class="col-md-4">@a</div>
            }
        </div>
    </div>>